# Import packages

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# Set styles and sizes

In [6]:
sns.set_style('darkgrid')
plt.rcParams['font.size'] = 15
plt.rcParams['figure.figsize'] = (10, 7)
plt.rcParams['figure.facecolor'] = '#FFE5B4'

# Import data set

In [9]:
# Dataset URL on GitHub
url = 'https://raw.githubusercontent.com/ErikBusk/Happiness/main/World-happiness-report-2024.csv'

# Read the dataset into a DataFrame
df = pd.read_csv(url, encoding='ISO-8859-1')

# Data cleaning

In [ ]:
# Understand data set

In [12]:
df.head()

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,2008,3.724,7.350,0.451,50.5,0.718,0.164,0.882,0.414,0.258
1,Afghanistan,2009,4.402,7.509,0.552,50.8,0.679,0.187,0.850,0.481,0.237
2,Afghanistan,2010,4.758,7.614,0.539,51.1,0.600,0.118,0.707,0.517,0.275
3,Afghanistan,2011,3.832,7.581,0.521,51.4,0.496,0.160,0.731,0.480,0.267
4,Afghanistan,2012,3.783,7.661,0.521,51.7,0.531,0.234,0.776,0.614,0.268

In [14]:
len(df)

2363

In [21]:
# Create new data frame for the year 2023
df23 = df[df['year'] == 2023].reset_index(drop=True)

In [22]:
df23.head()

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,2023,1.446,NaN,0.368,55.2,0.228,NaN,0.738,0.261,0.460
1,Albania,2023,5.445,9.689,0.691,69.2,0.872,0.068,0.855,0.597,0.314
2,Argentina,2023,6.393,9.994,0.892,67.3,0.832,-0.129,0.846,0.720,0.301
3,Armenia,2023,5.679,9.730,0.819,68.2,0.819,-0.179,0.681,0.575,0.423
4,Australia,2023,7.025,10.846,0.896,71.2,0.876,0.187,0.482,0.731,0.248

In [ ]:
df23_colums = ['Country name' , '']